################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
*.cache
*.editorconfig
*.targets
*.props
/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net8.0/Services.csproj.AssemblyReference.cache
/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache
/.vs/ProjectEvaluation/appparkingsys-back.projects.v9.bin
/.vs/ProjectEvaluation/appparkingsys-back.metadata.v9.bin
/.vs/AppParkingSys-Back/DesignTimeBuild/.dtbcache.v2
*.vsidx
/Api/obj/Debug/net8.0/staticwebassets.removed.txt
/Api/obj/Debug/net8.0/
/Core/obj/Debug/net8.0/
/Infrastructure/obj/Debug/net8.0/
/Services/obj/Debug/net8.0/
/Api/Properties/launchSettings.json
/Api/Properties/PublishProfiles/FolderProfile.pubxml
/.vs/AppParkingSys-Back/v17/DocumentLayout.backup.json
/.vs/AppParkingSys-Back/v17/DocumentLayout.json
*.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/AppParkingSys-Back/v17/.wsuo
/.vs/AppParkingSys-Back/v17/.suo
/.vs/AppParkingSys-Back/v17/.futdcache.v2
*.dll
*.json
*.exe
*.pdb
/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
*.config
*.txt
/Api/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Api/obj/Release/net8.0/Api.AssemblyInfo.cs
*.Up2Date
/Api/obj/Release/net8.0/Api.GlobalUsings.g.cs
/Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
/Services/obj/Release/net8.0/Services.GlobalUsings.g.cs
/Services/obj/Release/net8.0/Services.AssemblyInfo.cs
/Services/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Infrastructure/obj/Release/net8.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Release/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Core/obj/Release/net8.0/Core.GlobalUsings.g.cs
/Core/obj/Release/net8.0/Core.AssemblyInfo.cs
/Core/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
*.pubxml
*.user
